# Brownie
__pycache__
.history
.hypothesis/
build/
reports/

# Python
__pycache__*
.pytest*

# IDEs
/.idea

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local
env*
